$navbar-background-color: pink;
$nav-link-color: #000;
$nav-link-bordercolor: rgb(235, 82, 108) ;
$button-background-color: pink;
$button2-background-color-hover: white;
$button3-background-color-hover: rgb(247, 11, 129);
$button4-background-color-hover: #eee;

$searchbar-backgorund-color: white;
$searchbar-color: black;

$section-cards-background-color: #d6d7d6;
$cards-background-color: pink;
$cards-color:black;

$nosotros-text-background-color:pink;
$nosotros-text-color: white;
$nosotros-valores-color: black;
$nosotros-valores-color-hover: #000;

$table-bordercolor: #ddd;
$table-background-color: #f2f2f2;